/* 这个 css 实现博客详情页的具体格式 */

.blog-content {
    padding: 20px;
} 

.blog-content h3 {
    text-align: center;
    padding: 20px 0;
}

.blog-content .date {
    color: rgba(0,180,0);
    text-align: center;
    padding: 5px 0;
}

.blog-content p{
    text-indent: 2em;
    padding: 5px 0;
    font-size: 20px;
}